#NavBar{
  background-color: #c5c5c5;
  display:flex;
  flex-direction: row;
  gap: 15px;
}

.Nav-Box{
padding-block: 20px;
padding-inline: 20px;
}

/* Project page here */
#CardBox{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 15px;
}

.Project-Card{
  background-color: #626262;
  border-radius: 10px;
  padding: 10px 10px;
}